.center {

    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card {

    float: left;
    display: inline-block;
    font-size: xx-large;
    margin: 10px 10px 40px 10px;
    height: 200px;
    width: 120px;
    box-shadow: 5px 5px 5px #888;
    background-color: #dfe3e4;
    background-image: none;
    border-radius: 10px;
}

    .card .score {

        position: relative;
        top: 90px;
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
    }

    .card.frontface {

        background-image: url("/Content/images/frontface.jpg");
        color: #313131;

    }

    .card.backface {

        background-image: url("/Content/images/backface.jpg");
        color: white;

    }

    .card .playerName {

        position: relative;
        top: 140px;
        text-align: center;
        font-size: large;
    }

@media (max-width: 500px) {

    .card {

        font-size: x-large;
        margin: 5px 5px 20px 5px;
        height: 120px;
        width: 90px;
        border-radius: 4px;
    }

        .card .score {

            top: 50px;
            font-size: 30px;
        }
    
        .card .playerName {

            top: 80px;
        }
}
