<section>
    <div data-bind="attr: { class: topClassName }">
        <h2>Join Team</h2>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label span10" for="groupName">Group Name</label>
                <div class="controls">
                    <input type="text" id="groupName" placeholder="enter a group name" data-bind="value: teamName">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span4" for="playerName">Player Name</label>
                <div class="controls">
                    <input type="text" id="playerName" placeholder="your name" data-bind="value: playerName">
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-large" data-bind="click: submit">Join</a>
        </form>
    </div>

    <div data-bind="attr: { class: bottomClassName }">
        <div class="row-fluid">
            <div data-bind="compose: { model: $data, view: 'views/_templates/team.html' }" />
        </div>
        <div class="row-fluid">
            <div class="span12 center">
                <div data-bind="foreach: { data: scores, as: 'score' }">
                    <div class="card" data-bind="click: function () { updateScore(score); }">
                        <label class="center score" data-bind="text: score"></label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
