<section>
    <h2>View</h2>
    <div data-bind="attr: { class: topClassName }">
        <h2>Initialise Host</h2>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label span10" for="groupName">Group Name</label>
                <div class="controls">
                    <input type="text" id="groupName" placeholder="enter a group name" data-bind="value: groupName">
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-large" data-bind="click: submit">View</a>
        </form>
    </div>
</section>
